<body class="bodyaddformation">
  <section class="form-ateliers-container">

    <section class="form-atelier-wrapper">
      <form action="/ateliers/atelier-add" method="post" class="add-product-form" enctype="multipart/form-data" id="textarea-link">
        <h2 class="hacheformation">Ajouter un atelier</h2>
        <figure class="add-atelier-figure"><img src="/images/work.jpg" alt="working people"></figure>


        <div class="atelier-item">
          <label for="form-title" class="label-name label">title</label>
          <input id="form-title" type="text" class="form-title atelier-form-input"
            placeholder="Intitulé de la formation" name="title" value="Initiez-vous à la photographie">
        </div>

        <div class="atelier-item">
          <label for="form-img" class="label-img label">Image</label>
          <input id="form-img" type="file" class="add-img" name="avatar" accept=".png,.jpeg,.jpg">
        </div>

        <div class="atelier-item">
          <label for="form-date" class="label-descr label">date</label>
          <input id="form-date" type="datetime-local" class="form-mini-descr atelier-form-input"
            placeholder="ex: 12/09/2020" name="date">
        </div>

        <div class="atelier-item">
          <label for="form-ville" class="label-descr label">ville</label>
          <input id="form-ville" type="text" class="form-mini-descr atelier-form-input" placeholder="ex: bagnolet"
            name="ville" value="Paris">
        </div>

        <div class="atelier-item">
          <label for="form-code" class="label-descr label">code postale</label>
          <input id="form-code" type="number" class="form-mini-descr atelier-form-input" placeholder="ex:93170"
            name="code_postale" value="75020">
        </div>
        <div class="atelier-item">
          <label for="form-numero" class="label-descr label">numero</label>
          <input id="form-numero" type="number" class="form-mini-descr atelier-form-input" placeholder="ex:70"
            name="numero" value="12">
        </div>
        <div class="atelier-item">
          <label for="form-rue" class="label-descr label">rue</label>
          <input id="form-rue" type="text" class="form-mini-descr atelier-form-input"
            placeholder="ex:rue la belle ville" name="rue" value="Avenue Gambetta">
        </div>

        <div class="atelier-item">
          <label for="form-mini-descr" class="label-descr label">description</label>
          <textarea form="textarea-link" id="form-mini-descr" cols="30" rows="10" placeholder="saisir le contenu ici"
            name="description"></textarea>
        </div>

        <div class="form-item-wrapper flexed-item">
          <label for="category" class="label-main-cat label">Categorie</label>
          <select id="category" class="select" required name="category">
            {{#each categories}}
            <option value="{{this._id}}"> {{this.label}}</option>
            {{/each}}
          </select>
        </div>
        <button class="btn-ok-add" type="submit">Ajouter formation</button>
  </form>
    </section>
    {{!add a category form}}
    <section class="form-atelier-wrapper form-category">
      <form method="post" action="/ateliers/category">
        <h2 class="title">Ajouter une catégorie</h2>

        <label for="label" class="is-clickable">Label *</label>
        <input class="atelier-form-input" id="label" type="text" name="label" required>

        <button class="btn-ok-add">ok</button>
      </form>
    </section>
  </section>


</body>

{{!add a language}}
{{!-- <div class="form-item-wrapper flexed-item">
      <label for="language" class="label-main-cat label">Langue</label>
      <select id="language" class="select" required name="languages">
        {{#each languages}}
        <option value="{{this._id}}">{{this.lang}}</option>
        {{/each}}
      </select>
    </div> --}}