<body>
  
<h1 class="welcome-admin-title"> Welcome to your dashboard</h1>
{{! ATTEMPT NUMBER 3}}
<div class="admin-manage-board-container">
<div class="admin-manage-board-wrapper">
  <div class="admin-manage-board-white box">
    <figure><img src="/images/managecategories.jpg" alt=""></figure>
    <a class="admin-redirection" href="/ateliers/manage-ateliers">manage workshops</a>
    <a class="admin-redirection" href="/dashboard/user-check">check participants</a>
    <div class="cropped-circle"> <a href="/ateliers/form-atelier-add"><i class="fas fa-plus-circle"></i></a></div>
  </div>
    <div class="cropped-square"></div>
</div>

<div class="admin-manage-board-wrapper">
  <div class="admin-manage-board-white box">
    <figure><img src="/images/managenewss.jpg" alt=""></figure>
    <a class="admin-redirection" href="/articles/manage-articles">manage articles</a>
    <div class="cropped-circle"><a href="/articles/form-add-articles"><i class="fas fa-plus-circle"></i></a></div>
  </div>
    <div class="cropped-square"></div>
</div>

<div class="admin-manage-board-wrapper">
  <div class="admin-manage-board-white box">
    <figure><img src="/images/manageusers.jpg" alt=""></figure>
    <a class="admin-redirection" href="/users/manage-users">manage users</a>
    <div class="cropped-circle"><i class="fas fa-plus-circle"></i></div>
  </div>
    <div class="cropped-square"></div>
</div>

<div class="admin-manage-board-wrapper">
  <div class="admin-manage-board-white box">
    <figure><img src="/images/managefolder.jpg" alt=""></figure>
    <a class="admin-redirection" href="/dashboard/manage-ateliers">manage categories</a>
    <div class="cropped-circle"><i class="fas fa-plus-circle"></i></div>
  </div>
    <div class="cropped-square"></div>
</div>
    <div class="cropped-circle"><i class="fas fa-plus-circle"></i></div>

</div>
{{! THE END}}
</body>
