<h1 class="welcome-admin-title">Bienvenue sur votre espace de gestion</h1>
<div class="admin-board-container">

  <article class="admin-manage-container">
    <article class="admin-board-manage">
      <div class="admin-manage-wrap">
        <section>
          <a href="/ateliers/manage-ateliers">manage workshop</a>
        </section>
        <section class="admin-board-quick-link">
          <i class="far fa-plus-square"></i>
          <a href="/ateliers/form-atelier-add">quick add workshop</a>
        </section>
      </div>
    </article>

    <article class="admin-board-manage">
      <div class="admin-manage-wrap">
        <section>
          <a href="/articles/manage-articles">manage articles</a>
        </section>
        <section class="admin-board-quick-link">
          <i class="far fa-plus-square"></i>
          <a href="/articles/form-add-articles">quick add articles</a>
        </section>
      </div>
    </article>

    <article class="admin-board-manage user">
      <div class="admin-manage-wrap">
        <section>
          <a href="/users/manage-users">manage users</a>
        </section>
        <section class="admin-board-quick-link">
          <i class="far fa-plus-square"></i>
          <a href="/articles/form-add-articles">quick add articles</a>
        </section>
      </div>
    </article>

    <article class="admin-board-manage user">
      <div class="admin-manage-wrap">
        <section>
          <a href="/users/manage-users">manage categpries</a>
        </section>
        <section class="admin-board-quick-link">
          <i class="far fa-plus-square"></i>
          <a href="/articles/form-add-articles">add categories</a>
        </section>
      </div>
    </article>

    {{!-- <section class="admin-board-manage-sections">
    </section>
    <section class="admin-board-manage-sections">
      <a href="/users/manage-users">gérer les utilisateurs</a>
    </section>
    <div class="form-add-container"> --}}

    </section>
</div>
</article>
</div>