
{{! ATTEMPT NUMBER 3}}
<div class="admin-manage-board-container">

<div class="admin-manage-board-wrapper">
  <div class="admin-manage-board-white box">
    <figure><img src="/images/womenworking.jpg" alt=""></figure>
    <a class="admin-redirection" href="/dashboard/manage-ateliers">manage workshops</a>
    <div class="cropped-circle"></div>
  </div>
    <div class="cropped-square"></div>
</div>


</div>
{{! THE END}}