    <section class="form-atelier-wrapper form-category">
      <form method="post" action="/dashboard/add-a-category">
        <h2 class="title">Add a category</h2>

        <label for="label" class="is-clickable">Label *</label>
        <input class="atelier-form-input" id="label" type="text" name="label" required>

        <button class="btn-ok-add">ok</button>
      </form>
    </section>
