    <div class="content-container">
        <h1 class="hache-gestion-form">Monitor participants</h1>
        <hr class="hr-gestion-form">
        <table class="product-manage-table">
            <thead>
                <tr class="table-row">
                    <th class="table-head">Titre</th>
                    <th class="table-head">Date</th>
                    <th class="table-head">Participants</th>
                </tr>
            </thead>

            <tbody>
                {{#each categories}}
                <tr class="table-row">
                    {{#each this.ateliers}}
                    <td class="table-division">
                        <div>{{this.title}}</div>
                    </td>
                    <td class="table-division">
                        <div>{{#formatSmallDate this.date}} {{/formatSmallDate}}
                        </div>
                    </td>
                    <td class="table-division">
                        <ul class="ul-participants">
                    {{#each this.participants}}
                            {{inc @index}}:<li>{{this.email}}</li>
                            <li>{{this.name}}</li>
                    {{/each}}
                        </ul>
                    </td>
                </tr>
                {{/each}}
                {{/each}}
                {{#unless categories}}
                <tr>
                    <td colspan="6" class="no-formations">Il n'y a aucun atelier pour le moment</td>
                </tr>
                {{/unless}}
            </tbody>
        </table>
    </div>