        {{! SECTION FORMULAIRE}}
        <section class="formcontainer">
            <hgroup class="hachegroup">
                <h1 class="hache1">NOUS CONTACTER</h1>
                <h2 class="hache2">Besoin d'une aide en particulier?</h2>
            </hgroup>
            <form action="/sendmessage" method="POST">
                <label for="name"></label>
                <input class="line" id="name" type="text" placeholder="NOM" value="Ororo Munroe" name="name">
                <label for="mail" type="text"></label>
                <input class="line" id="mail" type="text" placeholder="E-MAIL" value="ororo@munroe.com" name="email">
                <label for="msg"></label>
                <input class="line mess" id="msg" type="text" placeholder="MESSAGE"
                    value="Bonjour, je voudrais avoir plus de détails sur l'ateliers photographie."
                    name="message">
                <button class="buttonsub" type="submit">Envoyer</button>
            </form>
        </section>
        {{! end of formulaire}}