{{! HEADER}}
<div class="video-wrapper">
  <div class="video-overlay"></div>
  <video id="video" autoplay muted loop>
    <source src="/video/womenday.MP4" type="video/mp4">
  </video>
</div>
{{!end of header}}

{{!TOURTERELLES VIDEO}}
<img src="/images/birdscloudcss.svg" alt="pink sky moving back and forth">
{{! END TOURTERELLES VIDEO}}

{{! SECTION A PROPOS}}
<section class="section-about-container">
  <h1 class="title-apropos">À PROPOS</h1>
  <div class="section-about-wrapper">
    <article class="light-article-about">
      <h2 class="h2-light-article">LOREM IPSUM</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci eaque sed voluptatibus fugit iusto
        minus, reiciendis voluptates error itaque aliquam! Delectus rerum corrupti harum labore veritatis aut
        amet pariatur a?
      </p><br>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci eaque sed voluptatibus fugit iusto
        minus, reiciendis voluptates error itaque aliquam! Delectus rerum corrupti harum labore veritatis aut
        amet pariatur a?
      </p>
      <div class="dots-container">
        <span class="dots">•</span>
        <span class="dots">•</span>
        <span class="dots">•</span>
        <span class="dots">•</span>
        <span class="dots">•</span>
        <span class="dots">•</span>
      </div>
    </article>
    <article class="dark-article-about">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci eaque sed voluptatibus fugit iusto
        minus,
        reiciendis voluptates error itaque aliquam! Delectus rerum corrupti harum labore veritatis aut amet
        pariatur
        a?
      </p><br>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci eaque sed voluptatibus fugit iusto
        minus,
        reiciendis voluptates error itaque aliquam! Delectus rerum corrupti harum labore veritatis aut amet
        pariatur
        a?
      </p><br>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci eaque sed voluptatibus fugit iusto
        minus,
        reiciendis voluptates error itaque aliquam! Delectus rerum corrupti harum labore veritatis aut amet
        pariatur
        a?
      </p>
    </article>
  </div>
</section>
{{!section SECOND PART OF ABOUR}}
<!--start of content-->

<div class="main_content2">
  <section>
    <article class="left">
      <h4>SELECTED WORKS</h4>
      <p class="left_pragh">Check out the<br>
        latest <span>Projects</span><br>
        we completed<br>
        <p class="left_pragh">
          Our team works on a wide variety of web design &<br>
          development projects every day. We deliver quality solutions<br>
          for your websites that are based on our boundless creativity and your needs.
        </p>
    </article>
  </section>

  <section class="carousel-container">
    {{!-- <article class="right"> --}}
      <!--Start of Slider-->
      <section class="carousel" aria-label="Gallery">
  <ol class="carousel__viewport">
    <li id="carousel__slide1"
        tabindex="0"
        class="carousel__slide">
      <div class="carousel__snapper">
        <a href="#carousel__slide4"
           class="carousel__prev">Go to last slide</a>
        <a href="#carousel__slide2"
           class="carousel__next">Go to next slide</a>
      </div>
    </li>
    <li id="carousel__slide2"
        tabindex="0"
        class="carousel__slide">
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide1"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide3"
         class="carousel__next">Go to next slide</a>
    </li>
    <li id="carousel__slide3"
        tabindex="0"
        class="carousel__slide">
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide2"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide4"
         class="carousel__next">Go to next slide</a>
    </li>
    <li id="carousel__slide4"
        tabindex="0"
        class="carousel__slide">
      <div class="carousel__snapper"></div>
      <a href="#carousel__slide3"
         class="carousel__prev">Go to previous slide</a>
      <a href="#carousel__slide1"
         class="carousel__next">Go to first slide</a>
    </li>
  </ol>
  <aside class="carousel__navigation">
    <ol class="carousel__navigation-list">
      <li class="carousel__navigation-item">
        <a href="#carousel__slide1"
           class="carousel__navigation-button">Go to slide 1</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide2"
           class="carousel__navigation-button">Go to slide 2</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide3"
           class="carousel__navigation-button">Go to slide 3</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide4"
           class="carousel__navigation-button">Go to slide 4</a>
      </li>
    </ol>
  </aside>
</section>
      <!--end of slider-->
    {{!-- </article> --}}
  </section>
</div>

{{!end of second part of about}}
{{! end of a propos}}

{{! SECTION ARTICLES}}
<section class="section-articles">
  <div class="articles-container">
    <h2> RECENT POSTS </h2>
    <h3>Latest news and updates</h3>
    <section class="articles-wrapper">
      {{#each articles}}
      <article class="article-elements">
        <hgroup>
          <h3 class="article-date">{{#formatSmallDate this.date}} {{/formatSmallDate}}</h3>
          <h3 class="article-title">{{this.title}}</h3>
        </hgroup>
        <p class="article-description">{{this.description}}</p>
        <hr>
        <div class="article-footer">
          <p>{{this.author}}</p>
          <a href="/articles/one-article/{{this._id}}">lire la suite<i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
      </article>
      {{/each}}
    </section>
    {{! end of articles}}

    {{! SECTION PARTENAIRES}}
    <section class="partenaires-container">
      <h2>NOS PARTENAIRES</h2>
      <article class="partenaire-wrapper">
        <figure><img src="/images/bon-abroad.png" alt="partenaire bon abroad"></figure>
        <figure><img src="/images/mairie-paris.png" alt="partenaire mairie de paris"></figure>
        <figure><img src="/images/maison-réfugié.png" alt="partenaire maison des réfugiés"></figure>
      </article>
    </section>
    {{! end of partenaires}}

    {{! SECTION FORMULAIRE}}
    <section class="formcontainer">
      <hgroup class="hachegroup">
        <h1 class="hache1">NOUS CONTACTER</h1>
        <h2 class="hache2">Besoin d'une aide en particulier?</h2>
      </hgroup>
      <form action="/sendmessage" method="POST">
        <label for="mail" type="text"></label>
        <input class="line" id="mail" type="text" placeholder="E-MAIL" name="email">
        <label for="msg"></label>
        <input class="line mess" id="msg" type="text" placeholder="Your message here" value="SUCCESS" name="message">
        <label for="sujet">Sujet</label>
        <select class="label input" id="subject" name="subject" required>
          <option value="" disabled selected> Choisir un sujet...</option>
          <option value="Demande de partenariat">Demande de partenariat</option>
          <option value="Partage d'experience">Partage d'experiences</option>
          <option value="Entrer en contact avec un de nos auteurs">Entrer en contact avec un de nos auteurs</option>
          <option value="Autre">Autre</option>
        </select>
        <button class="buttonsub" type="submit">Envoyer</button>
      </form>
    </section>
    {{! end of formulaire}}