{{! HEADER}}
<div class="video-wrapper">
  <div class="video-overlay"></div>
  <video id="video" autoplay muted loop>
    <source src="/video/womenday.MP4" type="video/mp4">
  </video>
</div>
{{!end of header}}

{{!TOURTERELLES VIDEO}}
<img class="birdscloud" src="/images/birdscloudcss.svg" alt="animated pink sky moving back and forth">
{{! END TOURTERELLES VIDEO}}

{{! SECTION A PROPOS}}
<section class="section-about-container">
  <h1 class="title-apropos">ABOUT</h1>
  <div class="section-about-wrapper">
    <article class="light-article-about">
      <h2 class="h2-light-article">Les Tourterelles</h2>
      <p>
        Did you know? Turtledoves are amongst if not the first migratory birds! Migration is driven primarily by
        food availability. The turtle-dove migrates between its European breeding grounds and Africa's vast Sahel belt
      </p><br>
      <p>
       Flying mostly at night, it can reach speeds of 60 km/h and cover up to 700 km without stopping. The journey is dangerous, and the greatest threats come from humans.
      </p>
      <div class="dots-container">
        <span class="dots">•</span>
        <span class="dots">•</span>
        <span class="dots">•</span>
        <span class="dots">•</span>
        <span class="dots">•</span>
        <span class="dots">•</span>
      </div>
    </article>
    <article class="dark-article-about">
      <p>
        If you consider the story of those birds, you'd soon notice the similarities it holds with another species: human. Migrant have been known to travel to developped countries in search for a better job, security, or health.
      </p><br>
      <p>
        According to INSEE 49.5% of migrant living In france in 2019 are from Africa.  Probably due to France's history with these countries, mostly migrants travel from Morroco 9.4 %, Algeria 7 % and Tunisia.  Another point to note is that men were the ones migrating. In 2019 it was 51% of women migrating. Despite the raising number, it is harder for a woman to find her place in society compared to men.
      </p><br>
      <p>
        For this reason, the women at Les Tourterelles help them find their path not only with charity work they already provide but also through workshops destined to empower by gaining knowledge or simply to simply give a chance to connect with other women during events.
      </p>
    </article>
  </div>
</section>
{{!section SECOND PART OF ABOUR}}
<!--start of content-->

<div class="main_content2">
  <section>
    <article class="left">
      <h4>INCOMING WORKS</h4>
        <p class="left_pragh">
          The organisation is new but we already have a lot planned out!<br>
          Check in the slider what type of project is coming soon<br>
          Seat tight,fasten your seatbelt and stay closeby so you don't miss out!
        </p>
    </article>
  </section>

  <section class="carousel-container">
    {{!-- <article class="right"> --}}
    <!--Start of Slider-->
    <section class="carousel" aria-label="Gallery">
      <ol class="carousel__viewport">
        <li id="carousel__slide1" tabindex="0" class="carousel__slide">
          <div class="carousel__snapper">
            <img class="img-carousel" src="/images/coming.jpg" alt="">
            <a href="#carousel__slide4" class="carousel__prev">Go to last slide</a>
            <a href="#carousel__slide2" class="carousel__next">Go to next slide</a>
          </div>
        </li>
        <li id="carousel__slide2" tabindex="0" class="carousel__slide">
          <div class="carousel__snapper"></div>
          <img class="img-carousel" src="/images/events.jpg" alt="">
          <a href="#carousel__slide1" class="carousel__prev">Go to previous slide</a>
          <a href="#carousel__slide3" class="carousel__next">Go to next slide</a>
        </li>
        <li id="carousel__slide3" tabindex="0" class="carousel__slide">
          <div class="carousel__snapper"></div>
          <img class="img-carousel" src="/images/volunteering.jpg" alt="">
          <a href="#carousel__slide2" class="carousel__prev">Go to previous slide</a>
          <a href="#carousel__slide4" class="carousel__next">Go to next slide</a>
        </li>
        <li id="carousel__slide4" tabindex="0" class="carousel__slide">
          <div class="carousel__snapper"></div>
          <img class="img-carousel" src="/images/tuned.jpg" alt="">
          <a href="#carousel__slide3" class="carousel__prev">Go to previous slide</a>
          <a href="#carousel__slide1" class="carousel__next">Go to first slide</a>
        </li>
      </ol>
      <aside class="carousel__navigation">
        <ol class="carousel__navigation-list">
          <li class="carousel__navigation-item">
            <a href="#carousel__slide1" class="carousel__navigation-button">Go to slide 1</a>
          </li>
          <li class="carousel__navigation-item">
            <a href="#carousel__slide2" class="carousel__navigation-button">Go to slide 2</a>
          </li>
          <li class="carousel__navigation-item">
            <a href="#carousel__slide3" class="carousel__navigation-button">Go to slide 3</a>
          </li>
          <li class="carousel__navigation-item">
            <a href="#carousel__slide4" class="carousel__navigation-button">Go to slide 4</a>
          </li>
        </ol>
      </aside>
    </section>
    <!--end of slider-->
    {{!-- </article> --}}
  </section>
</div>

{{!end of second part of about}}
{{! end of a propos}}

{{! SECTION ARTICLES}}
<section class="section-articles">
  <div class="articles-container">
    <h2> RECENT POSTS </h2>
    <h3>Latest news and updates</h3>
    <section class="articles-wrapper">
      {{#each articles}}
      <article class="article-elements">
        <hgroup>
          <h3 class="article-date">{{#formatSmallDate this.date}} {{/formatSmallDate}}</h3>
          <h3 class="article-title">{{this.title}}</h3>
        </hgroup>
        <p class="article-description">{{this.description}}</p>
        <hr>
        <div class="article-footer">
          <p>{{this.author}}</p>
          <a href="/articles/one-article/{{this._id}}">lire la suite<i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
      </article>
      {{/each}}
    </section>
    {{! end of articles}}

    {{! SECTION PARTENAIRES}}
    <section class="partenaires-container">
      <h2>NOS PARTENAIRES</h2>
      <article class="partenaire-wrapper">
        <figure><img src="/images/bon-abroad.png" alt="partenaire bon abroad"></figure>
        <figure><img src="/images/maison-réfugié.png" alt="partenaire maison des réfugiés"></figure>
      </article>
    </section>
    {{! end of partenaires}}

    {{! SECTION FORMULAIRE}}
    <section class="formcontainer">
      <hgroup class="hachegroup">
        <h1 class="hache1">HAVE AN INQUIRY?</h1>
        <h2 class="hache2">CONTACT US</h2>
      </hgroup>
      <form action="/sendmessage" method="POST">
        <input class="line" id="mail" type="text" placeholder="E-MAIL" name="email">
        {{!-- <label class="drop-down-subject" for="sujet">Sujet</label> --}}
        <select class="label input drop-down-subject" id="subject" name="subject" required>
          <option class="drop-down-select" value="" disabled selected> CHOOSE A SUBJECT</option>
          <option value="Demande de partenariat">Looking for partnership </option>
          <option value="Partage d'experience">Looking to share your experience</option>
          <option value="Entrer en contact avec un de nos auteurs">Volunteer</option>
          <option value="Autre">Other</option>
        </select>
        <input class="mess" id="msg" type="text" placeholder="YOUR MESSAGE HERE" name="message">
        <button class="buttonsubcontact" type="submit">Envoyer</button>
      </form>
    </section>
    {{! end of formulaire}}