<body class="signin-body">
<div class="signin-container content-container">
  <h1 class="signin-title">Signup</h1>
  <form method="post" action="/auth/user-signup" class="form" enctype="multipart/form-data">

  <label class="label" for="input-firstname">Name</label>
  <input id="input-firstname" class="input" type="text"
    name="name" />

  <label class="label" for="input-lastname">Lastname</label>
  <input id="input-lastname" class="input" type="text"
    name="lastname" />

  <label class="label" for="input-username">Choose a username</label>
  <input id="input-username" class="input" type="text" 
    name="username" />

  <label class="label" for="input-email">Email</label>
  <input id="input-email" class="input" type="email" name="email">

  <label class="label" for="input-password">Password</label>
  <input id="input-password" class="input" type="password"
    name="password">

  <label class="label" for="input-avatar">Chose a picture</label>
  <input id="input-avatar" class="input" type="file" name="avatar">

  <button class="buttonsub"><i class="far fa-arrow-alt-circle-right"></i></button>
</form>
</div>
</body>
  {{>_footer}}