<section class="signin-wrapper">
    <div class="signin-container"><h2 class="signin-title">Login</h2>
    <a href="/auth/signup"><h2 class="tosignup">Signup</h2></a> 
<form method="post" action="/auth/signin" class="form">
    <input class="input" type="email" name="email" placeholder="your email" required>
    <div>
        <input id="input-password" class="input" type="password" name="password" placeholder="your password" required>
        <span id="icon-toggle" >
            <i class="is-clickable fas fa-eye"></i>
        </span>
    </div>
    <div>

    <button class="buttonsub"><span><i class="fas fa-sign-in-alt"></span></i></button>
    </div>
</form>
</div>
</section>
  {{>_footer}}
