<body class="bodyaddformation">
    <section class="form-article-container">

        <section class="form-article-wrapper">
        <form action="/articles/articles-add" method="post" class="add-product-form" id="textarea-link">
            <h2 class="hacheformation">Add article</h2>
            <figure class="add-articles-figure"><img src="/images/writearticle.jpg" alt=""></figure>

            <div class="form-article-item">
                <label for="form-title" class="label-name label" >title</label>
                <input id="form-title" type="text" class="form-title form-input-article" placeholder="Une nouvelle formation" name="title">
            </div>

            <div class="form-article-item">
                <label for="form-mini-descr" class="label-descr label">subtitle</label>
                <input id="form-mini-descr" type="text" class="form-mini-descr form-input-article" placeholder="avec un sous-titre" name="subtitle">
            </div>


            <div class="form-article-item">
                <label for="form-content" class="label-descr label">content</label>
                <textarea form="textarea-link" id="form-content" cols="80" rows="80" placeholder="saisir le contenu ici" name="content"></textarea>
            </div>
            
            <div class="form-article-item">
                <label for="form-desc" class="label-descr label">description</label>
                <input id="form-desc" type="text" class="form-mini-descr form-input-article" placeholder="et une description courte" name="description">
            </div>

            <div class="form-article-item">
                <label for="form-author" class="label-descr label">author</label>
                <input id="form-author" type="text" class="form-mini-descr form-input-article" placeholder="the artist" name="author">
            </div>

    <button class="btn-ok-add" type="submit">Ajouter article</button>
    </section>

    </section>

    </form>
</section>
</body>