<img class="pinksky-header" src="/images/pinksky-header.svg" alt="pink sky-moving-forward and backward">
<section class="one-article-wrapper">
<h1 class="one-article-title">{{oneArticle.title}}</h1>
<div class="one-article-container">
<figure><img class="upper-quote" src="/images/upperquote.svg" alt="upper quote"></figure>
<figure><img class="lower-quote" src="/images/lowerquote.svg" alt="lower quote"></figure>

<article class="one-article-wrap">
 
<p class="one-article-content">{{oneArticle.content}}</p>
<p class="one-article-author">{{oneArticle.author}}</p>
</article>
</div> 
</section>

