<div class="one-article-container">
<figure><img class="upper-quote" src="/images/upper-quote.svg" alt=""></figure>
<figure><img class="lower-quote" src="/images/lower-quote.svg" alt=""></figure>

<article class="one-article-wrap">
<h1 class="one-article-title">{{oneArticle.title}}</h1>
 
<p class="one-article-content">{{oneArticle.content}}</p>
<p class="one-article-author">{{oneArticle.author}}</p>
</article>
</div>

